# Default reviewers for all changes in entire repository,
# unless a later match takes precedence
* @vishwasudupa @bjordiscollaku @simonbeaudoin0935 @keerthi-go

.github/*    @simonbeaudoin0935
docker/*     @simonbeaudoin0935
scripts/*    @vishwasudupa @bjordiscollaku @simonbeaudoin0935
rootfs/*     @bjordiscollaku
kernel/*     @bjordiscollaku
bootloader/* @bjordiscollaku