# Default reviewers for all changes in entire repository,
# unless a later match takes precedence
* @sjakki88 @vishwasudupa @bjordiscollaku @simonbeaudoin0935

# Specific ownership for the ubuntu folder
ubuntu/* @vkraleti @sbanerjee-quic @vishwasudupa @bjordiscollaku @simonbeaudoin0935

