name: Qualcomm Upstream Version Promotion Reusable Workflow
description: |
  The purpose of this workflow is to take a given tag that exists in the upstream repository
  that the package repo tracks, and then import it with git-buildpackage so that it makes its
  way in the upstream and debian branch. It also takes care of increasing the version number
  in the changelog file. The tracked upstream repo needs to be properly configured in the
  debian/watch file.

on:
  workflow_call:
    inputs:

      qcom-build-utils-ref:
        description: The ref name that was used to invoke this reusable workflow
        type: string
        required: true

      upstream-tag:
        description: The tag in the upstream repo to promote to.
        type: string
        required: true

      upstream-repo:
        description: The upstream git repo adress
        type: string
        required: true

      promote-changelog:
        description: Run the gbp dch command to promote changelog version
        type: boolean
        default: false

    secrets:
      TOKEN:
        required: true

permissions:
  contents: write

env:
  NORMALIZED_VERSION: ""
  DISTRIBUTION: noble

  #TODO : Check if a PR branch already exist. This would mean that someone or something triggered the
  # promotion more than once before it was merged

jobs:
  promote-upstream-version:

    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    container:
      image: ghcr.io/qualcomm-linux/pkg-builder:amd64-noble
      credentials:
        username: ${{ vars.DEB_PKG_BOT_CI_USERNAME }}
        password: ${{ secrets.TOKEN }}

    steps:

      - name: Ensure Workspace Is Clean
        run: rm -rf *

      # Normalizing a tag : (e.g ) v1.0.0 -> 1.0.0
      - name: Normalize Tag Version
        run: |
          echo "ℹ️Input upstream-tag is : ${{inputs.upstream-tag}}"

          NORMALIZED_VERSION=$(echo "${{inputs.upstream-tag}}" | sed 's/^v//')
          echo "NORMALIZED_VERSION=$NORMALIZED_VERSION" >> $GITHUB_ENV

          echo "ℹ️Normalized version : $NORMALIZED_VERSION"

      - name: Checkout qcom-build-utils
        uses: actions/checkout@v4
        with:
          repository: qualcomm-linux/qcom-build-utils
          ref: ${{inputs.qcom-build-utils-ref}}
          token: ${{secrets.TOKEN}}
          path: ./qcom-build-utils
          fetch-depth: 1
          sparse-checkout: |
            .github
            scripts

      # Fetch all history for all tags and branches
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          clean: false # A rm -rf * was done first, don't clean otherwise this would delete qcom-build-utils cloned above
          token: ${{secrets.TOKEN}}
          path: ./package-repo
          fetch-depth: 0

      - name: Show branches/tags and checkout debian/upstream latest
        run: |
          cd ./package-repo

          git branch
          git tag
          git checkout debian/latest
          echo "Listing all the current tags :"
          git tag --list
          if git ls-remote --exit-code --heads origin upstream/latest; then
            git checkout upstream/latest # Checkout this branch just to make sure it exists locally after its been fetched as gbp will need it later
            git checkout - # Then revert back to debian/latest branch as we will need to have it checked out for gbp later
          fi


      - name: Make sure the upstream tag is not already part of the repo
        run: |
          cd ./package-repo

          if (git tag --list | grep "${{inputs.upstream-tag}}"); then
            echo "❌ The supplied upstream tag is wrong as it pertains to this repo already."
            exit 1
          fi

      - name: Determine If Requested Tag Already Exist In upstream/
        run: |
          cd ./package-repo

          if (git tag --list | grep "upstream/${{env.NORMALIZED_VERSION}}"); then
            echo "❌ It appears like this repo has already integrated the upstream tag '${{inputs.upstream-tag}}'" \
                 " because a local tag 'upstream/$NORMALIZED_VERSION' already exists."
            exit 1
          else
            echo "✅ TODO MAKE SURE WE ARE NOT REGRESSING"
          fi

      - name: Add Upstream Link As A Remote And Fetch Tags
        run: |
          cd ./package-repo
          git remote add upstream-source https://x-access-token:${{secrets.TOKEN}}@github.com/${{inputs.upstream-repo}}.git
          git fetch upstream-source "+refs/tags/*:refs/tags/*"

      - name: Pre-populate the upstream/latest branch if first promotion
        run: |
          cd ./package-repo

          # If the upstream/latest branch does not exist yet, create it and give it
          # the history of upstream directly, instead of creating an --allow-empty commit
          # which will be dragged along.
          if ! git ls-remote --exit-code --heads origin upstream/latest; then
            git branch upstream/latest ${{inputs.upstream-tag}}
          else
            # The branch exists, check it out and promote it to the upstream tag
            git checkout upstream/latest
            git merge --ff-only ${{inputs.upstream-tag}}
          fi

      - name: Merge upstream tag into packaging branch
        run: |
          cd ./package-repo

          git config user.name "${{vars.DEB_PKG_BOT_CI_NAME}}"
          git config user.email "${{vars.DEB_PKG_BOT_CI_EMAIL}}"

          git checkout debian/latest

          git checkout -b debian/pr/${{env.NORMALIZED_VERSION}}-1

          ../qcom-build-utils/scripts/merge_debian_packaging_upstream ${{inputs.upstream-tag}}

      - name: Promote Changelog
        run: |
          cd ./package-repo

          export DEBFULLNAME="${{vars.DEB_PKG_BOT_CI_NAME}}"
          export DEBEMAIL="${{vars.DEB_PKG_BOT_CI_EMAIL}}"

          # use ignore branch because we are not on default debian branch
          gbp dch \
            --ignore-branch \
            --distribution=UNRELEASED \
            --new-version=${{env.NORMALIZED_VERSION}}-1

          git commit -a -s -m "Update changelog for ${{env.NORMALIZED_VERSION}}-1 release"

      - name: Push Upstream/latest and debian PR Branch
        run: |
          cd ./package-repo

          # Push upstream/latest branch promoted to the tag
          git push origin upstream/latest

          git tag upstream/${{env.NORMALIZED_VERSION}} upstream/latest

          # Push that new tag
          git push origin upstream/${{env.NORMALIZED_VERSION}}

          git push origin debian/pr/${{env.NORMALIZED_VERSION}}-1

      - name: Open Promotion PR
        run: |
          cd ./package-repo

          gh auth login --with-token <<< "${{secrets.TOKEN}}"

          gh pr create \
            --title "Promote upstream version ${{env.NORMALIZED_VERSION}}" \
            --body "Automated PR to test upstream version promotion. Checkout this branch locally and push additional commits to make the build pass if need be.
          \`\`\`mermaid
          ---
          config:
            themeVariables:
              'gitInv2': '#ff0000'
            gitGraph:
              parallelCommits: true
              rotateCommitLabel: true
          ---
          gitGraph BT:
              
              branch debian/latest   order: 1
              branch upstream-main   order: 4
              branch upstream/latest order: 3
              checkout main
              commit id: 'Unrelated history: workflows, doc'
              checkout upstream-main
              commit
              checkout upstream-main
              commit
              commit id: 'release' tag: 'v1.0.0'
              checkout upstream/latest
              commit id: 'previous stuff'
              merge upstream-main id: 'Filtered .github/debian folders' tag: 'upstream/1.0.0'
              checkout debian/latest
              commit
              commit
              commit
              branch debian/pr/1.0.0-1 order: 2
              merge upstream/latest id: '*YOU ARE HERE*' type: HIGHLIGHT
              commit id: 'possible patches'
              checkout debian/latest
              merge debian/pr/1.0.0-1 id: 'USER CLICKED MERGE'
              commit id: 'suite: UNRELEASED to unstable' type: HIGHLIGHT tag: 'debian/1.0.0-1'
              commit id: 'suite: unstable->UNRELEASED'
          \`\`\` " \
            --base debian/latest \
            --head debian/pr/${{env.NORMALIZED_VERSION}}-1
