name: Qualcomm Upstream Version Promotion Reusable Workflow
description: |
  The purpose of this workflow is to take a given tag that exists in the upstream repository
  that the package repo tracks, and then import it with git-buildpackage so that it makes its
  way in the upstream and debian branch. It also takes care of increasing the version number
  in the changelog file. The tracked upstream repo needs to be properly configured in the
  debian/watch file.

on:
  workflow_call:
    inputs:

      qcom-build-utils-ref:
        description: The ref name that was used to invoke this reusable workflow
        type: string
        required: true

      debian-branch:
        description: The debian branch to apply the promotion to. For example branch "debian/qcom-next"
        type: string
        required: false
        default: debian/qcom-next

      upstream-tag:
        description: The tag in the upstream repo to promote to.
        type: string
        required: true

      upstream-repo:
        description: The upstream git repo adress
        type: string
        required: true

    secrets:
      TOKEN:
        required: true

permissions:
  contents: write

env:
  NORMALIZED_VERSION: ""
  DISTRIBUTION: noble

  UPSTREAM_TAG_ALREADY_EXISTS: false

jobs:
  promote-upstream-version:

    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    container:
      image: ghcr.io/qualcomm-linux/pkg-builder:amd64-noble
      credentials:
        username: ${{ vars.DEB_PKG_BOT_CI_USERNAME }}
        password: ${{ secrets.TOKEN }}

    steps:

      # Normalizing a tag : (e.g ) v1.0.0 -> 1.0.0
      - name: Normalize Tag Version
        run: |
          echo "ℹ️ Input upstream-tag is : ${{inputs.upstream-tag}}"

          NORMALIZED_VERSION=$(echo "${{inputs.upstream-tag}}" | sed 's/^v//')
          echo "NORMALIZED_VERSION=$NORMALIZED_VERSION" >> $GITHUB_ENV

          echo "ℹ️ Normalized version : $NORMALIZED_VERSION"

      - name: Checkout qcom-build-utils
        uses: actions/checkout@v4
        with:
          repository: qualcomm-linux/qcom-build-utils
          ref: ${{inputs.qcom-build-utils-ref}}
          #token: Not needed for public repo
          path: ./qcom-build-utils
          fetch-depth: 1
          sparse-checkout: |
            .github
            scripts

      # Fetch all history for all tags and branches
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          token: ${{secrets.TOKEN}}
          path: ./package-repo
          fetch-depth: 0

      - name: Show branches/tags and checkout debian/upstream latest
        run: |
          cd ./package-repo

          git branch
          git tag
          git checkout ${{inputs.debian-branch}}
          echo "Listing all the current tags :"
          git tag --list
          if git ls-remote --exit-code --heads origin upstream/latest; then
            git checkout upstream/latest # Checkout this branch just to make sure it exists locally after its been fetched as gbp will need it later
            git checkout - # Then revert back to the inputs.debian-branch branch as we will need to have it checked out for gbp later
          fi


      - name: Make sure the upstream tag is not already part of the repo
        run: |
          cd ./package-repo

          if (git tag --list | grep "${{inputs.upstream-tag}}"); then
            echo "❌ The supplied upstream tag is wrong as it pertains to this repo already."
            exit 1
          fi

      - name: Validate the upstream tag promotion state
        run: |
          cd ./package-repo

          # Check if the upstream/<normalized_version> tag does not already exists
          if ! git tag --list | grep "upstream/${{env.NORMALIZED_VERSION}}"; then
            echo "✅ The upstream tag '${{inputs.upstream-tag}}' has not been promoted yet. Continuing."
            exit 0
          fi

          echo "⚠️ It appears like this repo has already integrated the upstream tag '${{inputs.upstream-tag}}'"

          LATEST_UPSTREAM_TAG=$(git tag --list 'upstream/*' | sort -V | tail -1)

          echo "ℹ️ The latest upstream tag in the repo is: $LATEST_UPSTREAM_TAG"

          if [ "$LATEST_UPSTREAM_TAG" != "upstream/${{env.NORMALIZED_VERSION}}" ]; then
            echo "❌ However, the existing tag 'upstream/${{env.NORMALIZED_VERSION}}' is NOT the latest upstream tag"
            echo "❌ This means we are trying to promote an older tag. Aborting."
            exit 1
          fi

          echo "ℹ️ The existing tag 'upstream/${{env.NORMALIZED_VERSION}}' is the latest upstream tag already."
          echo "ℹ️ This is likely a second attempt to promote the same upstream tag, where the first attempt already added the upstream tag in the upstram branch"

          # Check if there is a PR open for this already
          gh auth login --with-token <<< "${{secrets.TOKEN}}"
          PRS=$(gh pr list --head "debian/pr/${{env.NORMALIZED_VERSION}}-1" --state open --json number --jq '.[].number')
          if [ -n "$PRS" ]; then
            echo "❌ An open PR already exists for this promotion attempt: $PRS"
            echo "❌ Please merge or close the existing PR before attempting to promote the same upstream tag again."
            exit 1
          fi

          # If we reach this point, it means the upstream tag exists but no PR is open for it
          echo "⚠️ The upstream tag 'upstream/${{env.NORMALIZED_VERSION}}' already exists but no PR is open for it."
          echo "⚠️ This likely means the previous promotion PR was closed without merging."
          echo "⚠️ We will proceed with the promotion, but please ensure to merge the resulting PR to avoid confusion like this."
          
          # Keep track that the upstream tag already exists
          echo "UPSTREAM_TAG_ALREADY_EXISTS=true" >> $GITHUB_ENV

          # Perform a last check to see if the debian/pr/<version>-1 branch already exists locally (which would mean its also present remotely)
          if git ls-remote --exit-code --heads origin "debian/pr/${{env.NORMALIZED_VERSION}}-1"; then
            echo "❌ The debian/pr/${{env.NORMALIZED_VERSION}}-1 branch already exists remotely."
            echo "❌ This likely means the previous promotion PR branch was not deleted after closing the PR."
            echo "❌ Please delete the remote branch before attempting to promote the same upstream tag again."
            exit 1
          fi

      - name: Add Upstream Link As A Remote And Fetch Tags
        run: |
          cd ./package-repo
          git remote add upstream-source https://x-access-token:${{secrets.TOKEN}}@github.com/${{inputs.upstream-repo}}.git
          git fetch upstream-source "+refs/tags/*:refs/tags/*"

      - name: Ensure the tag exists in the upstream repo
        run: |
          cd ./package-repo

          if ! git rev-parse --verify "refs/tags/${{inputs.upstream-tag}}" >/dev/null 2>&1; then
            echo "❌ The specified upstream tag '${{inputs.upstream-tag}}' does not exist in the upstream repository."
            exit 1
          fi
          
      - name: Pre-populate the upstream/latest branch if first promotion
        run: |
          cd ./package-repo

          # If the upstream/latest branch does not exist yet, create it and give it
          # the history of upstream directly, instead of creating an --allow-empty commit
          # which will be dragged along.
          if ! git ls-remote --exit-code --heads origin upstream/latest; then
            git branch upstream/latest ${{inputs.upstream-tag}}
          else
            # The branch exists, check it out and promote it to the upstream tag
            git checkout upstream/latest
            git merge --ff-only ${{inputs.upstream-tag}}
          fi

      - name: Merge upstream tag into packaging branch
        run: |
          cd ./package-repo

          git config user.name "${{vars.DEB_PKG_BOT_CI_NAME}}"
          git config user.email "${{vars.DEB_PKG_BOT_CI_EMAIL}}"

          git checkout ${{inputs.debian-branch}}

          git checkout -b debian/pr/${{env.NORMALIZED_VERSION}}-1

          ../qcom-build-utils/scripts/merge_debian_packaging_upstream ${{inputs.upstream-tag}}

      - name: Promote Changelog
        run: |
          cd ./package-repo

          export DEBFULLNAME="${{vars.DEB_PKG_BOT_CI_NAME}}"
          export DEBEMAIL="${{vars.DEB_PKG_BOT_CI_EMAIL}}"

          # use ignore branch because we are not on default debian branch
          gbp dch \
            --ignore-branch \
            --distribution=UNRELEASED \
            --new-version=${{env.NORMALIZED_VERSION}}-1

          git commit -a -s -m "Update changelog for ${{env.NORMALIZED_VERSION}}-1 release"

      - name: Push Upstream/latest and debian PR Branch
        run: |
          cd ./package-repo

          if [ "${{env.UPSTREAM_TAG_ALREADY_EXISTS}}" = "false" ]; then
              # This is the happy path where no previous promotion attempt was detected

              # Push upstream/latest branch promoted to the tag
              git push origin upstream/latest

              git tag upstream/${{env.NORMALIZED_VERSION}} upstream/latest

              # Push that new tag
              git push origin upstream/${{env.NORMALIZED_VERSION}}
          fi

          git push origin debian/pr/${{env.NORMALIZED_VERSION}}-1

      - name: Open Promotion PR
        run: |
          cd ./package-repo

          gh auth login --with-token <<< "${{secrets.TOKEN}}"

          ../qcom-build-utils/scripts/create_promotion_pr.py \
            --upstream-tag "${{inputs.upstream-tag}}" \
            --normalized-version "${{env.NORMALIZED_VERSION}}"
